<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.bj58.oceanus.plugins.mybatis.entity.User" />
                <typeAlias alias="Forum" type="com.bj58.oceanus.plugins.mybatis.entity.Forum" />
                <typeAlias alias="Topic" type="com.bj58.oceanus.plugins.mybatis.entity.Topic" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="com.bj58.oceanus.plugins.mybatis.datasource.OceanusDataSourceFactory">
				<property name="driverClassName" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://nodea:3306/qbao_bbs" />
				<property name="username" value="qbao" />
				<property name="password" value="qbao" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="user.xml" />
		<mapper resource="forum.xml" />
		<mapper resource="topic.xml" />
	</mappers>
</configuration>